body{
  /* padding:1em;
  background:#ECEFF1; */
  width: 100vw;
  height: 100vh;
  display:flex;
  flex-flow:column wrap;
  margin:auto;
  font-family:sans-serif;
}
/* mobile{
  display:flex;
  flex-flow:column nowrap;
  background:white;
  margin:auto;
  width:414px;
  height:736px;
  box-shadow:0px 12px 24px #0004;
} */
.mobile-status-bar img{
  width:100%;
}
.mobile-container{
  height:100%;
  overflow:auto;
  background: #EDE7F6;
}

nav{
  background: linear-gradient(120deg, rgba(131,58,180,0.65) 5%, rgba(253,29,29,0.65) 76%, rgba(252,176,69,0.65) 100%);
  color:white;
  text-align:center;
  padding:.5em;
  height: 5.5em;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
.page{
  padding:1em;
}

textarea{
  width:100%;
  border-radius:.3em;
  font-size:1rem;
  padding:1em;
  box-sizing:border-box;
}

button{
  background:#AB47BC;
  border-radius:.3em;
  font-size:1em;
  color:white;
  width:25%;
  padding:.5em;
  box-sizing:border-box;
  border:none;
}
.funcBtn {
  margin-bottom: .3em;
}
.option {
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: space-evenly;
}
.option > button {
  background: #AD1457;
  flex-basis: 22%;
  margin: .3em;
}
#bold {
  font-weight: bold;
}
#impact {
  font-family:"Impact",Charcoal,sans-serif;
}
#courier {
  font-family:"Courier New", Courier, monospace;
}
#allura {
  font-family:"Allura";
}
#amatic {
  font-family:"Amatic SC";
}
#barrio {
  font-family:"Barrio";
}
#spacing {
  letter-spacing: .3em;
}

.tooltip {
  position: relative;
  display: inline;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: -5.5vw;
  /* margin-left: -75px; */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 768px) {
  #lowerBtn {
    font-size: 14px;
  }
  #upperBtn {
    font-size: 12px;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #lowerBtn {
    font-size: 16px;
  }
  #upperBtn {
    font-size: 16px;
  }
}
